<div class="d-flex">

  <div class="accordion">
    <mat-accordion>
      <!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel> -->



      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            ASSUMPTIONS

          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="content">
            <div class="row">
              <div class="col-md-6">
                <ul class="responsive-table">
                  <li class="table-header">
                    <div class="col col-1">Measure</div>
                    <div class="col col-2">Row Options </div>

                  </li>
                  <li class="table-row">
                    <div class="col col-1" data-label="Job Id">42235</div>
                    <div class="col col-2" data-label="Customer Name">John Doe</div>

                  </li>
                  <li class="table-row">
                    <div class="col col-1" data-label="Job Id">42442</div>
                    <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>

                  </li>
                  <li class="table-row">
                    <div class="col col-1" data-label="Job Id">42257</div>
                    <div class="col col-2" data-label="Customer Name">John Smith</div>

                  </li>
                  <li class="table-row">
                    <div class="col col-1" data-label="Job Id">42311</div>
                    <div class="col col-2" data-label="Customer Name">John Carpenter</div>

                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="responsive-table">
                  <li class="table-header">
                    <div class="col col-1">Measure</div>
                    <div class="col col-2">Row Options </div>

                  </li>
                  <li class="table-row">
                    <div class="col col-1" data-label="Job Id">42235</div>
                    <div class="col col-2" data-label="Customer Name">John Doe</div>

                  </li>
                  <li class="table-row">
                    <div class="col col-1" data-label="Job Id">42442</div>
                    <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>

                  </li>
                  <li class="table-row">
                    <div class="col col-1" data-label="Job Id">42257</div>
                    <div class="col col-2" data-label="Customer Name">John Smith</div>

                  </li>
                  <li class="table-row">
                    <div class="col col-1" data-label="Job Id">42311</div>
                    <div class="col col-2" data-label="Customer Name">John Carpenter</div>

                  </li>
                </ul>
              </div>
            </div>




          </div>
        </div>
      </mat-expansion-panel>



      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            OUTCOME
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="content">

            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Measure</div>
                <div class="col col-2">Row Options </div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42235</div>
                <div class="col col-2" data-label="Customer Name">John Doe</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42442</div>
                <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42257</div>
                <div class="col col-2" data-label="Customer Name">John Smith</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42311</div>
                <div class="col col-2" data-label="Customer Name">John Carpenter</div>

              </li>
            </ul>
          </div>
        </div>
      </mat-expansion-panel>



      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            OUTCOME
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="content">

            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Measure</div>
                <div class="col col-2">Row Options </div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42235</div>
                <div class="col col-2" data-label="Customer Name">John Doe</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42442</div>
                <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42257</div>
                <div class="col col-2" data-label="Customer Name">John Smith</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42311</div>
                <div class="col col-2" data-label="Customer Name">John Carpenter</div>

              </li>
            </ul>
          </div>
        </div>
      </mat-expansion-panel>




      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            PROCESS
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="content">

            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Measure</div>
                <div class="col col-2">Row Options </div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42235</div>
                <div class="col col-2" data-label="Customer Name">John Doe</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42442</div>
                <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42257</div>
                <div class="col col-2" data-label="Customer Name">John Smith</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42311</div>
                <div class="col col-2" data-label="Customer Name">John Carpenter</div>

              </li>
            </ul>
          </div>
        </div>
      </mat-expansion-panel>


      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            PROCESS
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="content">

            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Measure</div>
                <div class="col col-2">Row Options </div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42235</div>
                <div class="col col-2" data-label="Customer Name">John Doe</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42442</div>
                <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42257</div>
                <div class="col col-2" data-label="Customer Name">John Smith</div>

              </li>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id">42311</div>
                <div class="col col-2" data-label="Customer Name">John Carpenter</div>

              </li>
            </ul>
          </div>
        </div>
      </mat-expansion-panel>






    </mat-accordion>
  </div>



  <div>
    Blah Blah Blah Blah Blah Blah
  </div>
</div>